{% extends "base.html" %}

{% block content %}

<h2> 
    Hello {{user.name}}{{',' if user.name else ''}} Denizen of a Sizeable Geostructure!
</h2>

<table class="table table-primary table-bordered table-sm" id="mtable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hollerith</th>
            <th scope="col">EBCDIC</th>
            <th scope="col">NRZI</th>
            <th scope="col">Phase-encoded</th>
            <th scope="col">Multiplexor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1 - SIGHUP</th>
            <td>Candlemaker</td>
            <td>Salicylic</td>
            <td>Dishcloth</td>
            <td>Expedite</td>
            <td>Cantankerous</td>
        </tr>
        <tr>
            <th scope="row">2 - SIGINT</th>
            <td>Gopher</td>
            <td>Wolf</td>
            <td>Crease</td>
            <td>Rayon</td>
            <td>Carve</td>
        </tr>
        <tr>
            <th scope="row">7 - SIGBUS</th>
            <td>Camping</td>
            <td>Volcano</td>
            <td>Fluff</td>
            <td>Crepe</td>
            <td>Rangoon</td>
        </tr>
        <tr>
            <th scope="row">9 - SIGKILL</th>
            <td>Derogation</td>
            <td>Pastry</td>
            <td>Coulomb</td>
            <td>Jejeune</td>
            <td>Whistle</td>
        </tr>
        <tr>
            <th scope="row">15 - SIGTERM</th>
            <td>Milwaukee</td>
            <td>Knitting</td>
            <td>Salubrious</td>
            <td>Magnetic</td>
            <td>Archaea</td>
        </tr>
        <tr>
            <th scope="row">17 -  SIGSTOP</th>
            <td>Turkey</td>
            <td>Enough</td>
            <td>Biscuit</td>
            <td>Syzygy</td>
            <td>Square</td>
        </tr>
        <tr>
            <th scope="row">31 - SIGSYS</th>
            <td>Candlemaker</td>
            <td>Mahogany</td>
            <td>Dishcloth</td>
            <td>Gibbous</td>
            <td>Crepuscular</td>
        </tr>
    </tbody>

</table>

{% endblock %}